/*
Colors used

Text Color (Dark Gray): #2b2b2b;
Primary Color (Light Pastel Red): #FF6B6B; brighter: #E92525;
  Secondary Color (Light Pastel Blue): #4EBABA; darker: #168C8C;
Terceary Color (Light Pastel Green): C5F466;
 */

 :root {
   --primary-color: #FF6B6B;
   --secondary-color: #4EBABA;
   --terciary-color: #C5F466;
   --dark-grey: #2b2b2b;
 }

 * {
   box-sizing: border-box;
 }

 /* Body styles */
body {
  font-family: 'Abel', sans-serif;
  font-weight: 400;
  font-size: 16px;
  /* Sets the font size to 16px */
  line-height: 1.6;
  /* Sets the line-height to 1.6 */
  text-align: center;
}

main {
  padding: 40px;
  align-items: center;
}
/* Header styles */
h1 {
  font-size: 30px;
  font-weight: 700;
  color: var(--primary-color);
}

h2 {
  font-size: 24px;
  font-weight: 700;
  color: var(--primary-color);
}

h3 {
  font-size: 18px;
  font-weight: 700;
  color: var(--secondary-color);
}

/* Anchor tags */
a {
  color: var(--secondary-color);
  text-decoration: none;
}

p {
  text-align: justify;
}

a:hover,
a:focus {
  text-decoration: none;
}
a:active {
  color: var(--primary-color);
  text-decoration: underline;
}

/* Lists */
ul {
  list-style-type: none;
}

/* Tables */
table {
  display: inline-block;
  margin: 0 auto;
  text-align: left;
}

/* Buttons */
.button,
.cv-button,
button {
  /* overwrites browser defaults and resets the border */
  border: none;
  display: inline-block;
  /* takes the font from the outer container */
  font-family: inherit;
  /* styles the background color, font color, and text decoration (underline, etc.) of the button */
  background-color: var(--primary-color);
  color: white;
  text-decoration: none;
  /*adds spacing to the button (this will be discussed more in-depth later) */
  padding: 10px;
  margin: 10px;
  border-radius: 3px;
  /* gives the button a bottom border with a width of 2px, a type of solid, and a color in RGBA format */
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  transition-duration: 0.9s;
  transition-property: opacity;
  list-style-type: none;
  max-width: 50%;
}

button:hover,
button:focus,
  .button:hover,
  .button:focus,
  .cv-button:hover,
  .cv-button:focus {
    cursor: pointer;
    opacity: 0.8;
  }

.button__secondary {
  background-color: var(--terciary-color);
  color: white;
}

/* Page header index.html*/
.page-header {
  display: flex;
  width: 100%;
  padding: 20px;
  align-items: right;
}
.page-header__item {
  max-width: 230px;
  align-items: center;
}

.page-header__item:last-child {
  flex-grow: 1;
  text-align: center;
}

/* Profile styles index.html */
.profile__portrait {
  float: left;
  width: 250px;
  margin-right: 40px;
  border-radius: 50%;
}

.profile {
  max-width: 700px;
  margin: 0 auto;
}

/* Page footer */
.page-footer {
  clear: both;
  display: flex;
  flex-direction: column;
  text-align: center;
}

/* Navigation list */
.navigation-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.navigation-list__item {
  list-style-type: none;
}
.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}
.navigation-list__item--active {
  text-decoration: none;
}

/* Grid styles*/
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}
.grid__item {
  background-color: lightgray;
  padding: 10px;
}

/* about.html styles */
.row{
  margin: 10px;
  display: inline-block;
  flex-direction: row;
  justify-content: justify;
  align-content: right;
  padding-left: 4rem;
  padding-right: 4rem;
}
.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-between;
  
  
  margin: 0;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.berlin-illustration {
  margin: 10px;
  max-width: 90%;
}

/* contact form */
input,
textarea {
  width: 200px; /* Full width */
  padding: 10px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin: auto;
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
  display: block;
  justify-content: center;
}

.contactme {
  width: 300px;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  justify-content: center;
  text-align: center;
  margin: auto;
}

/* Animation Keyframes */

@keyframes color-change {
    0% {
      fill: #edc655;
    }
    50% {
      fill: #fcffad;
    }
    100% {
      fill: #f76414;
    }
  }

.sun {
  animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }
  to {
    transform: translate(200px, 50px);
  }
}
.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}
@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }
  to {
    transform: translate(100px, 48px);
  }
}
.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

/* Media Queries */
/* This media query will take effect if it less than or equal of width:500px  */
@media all and (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
  }
  .column {
    width: 100%;
  }
}

/* This media query will take effect between the width:500px and 750px  */
@media all and (min-width: 500px) and (max-width: 750px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
  .column {
    width: 100%;
  }
}

/* This media query will take effect on the 2 media queries above, that is not covered by their query, this query will fixed all the issues to make fully responsive */
@media all and (min-width: 750px) {
  .grid {
    grid-gap: 10px;
  }
  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
    }
  .column {
    width: 100%;
    }
  }
