/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

/*
Colors used

Text Color (Dark Gray): #2b2b2b;
Primary Color (Light Pastel Red): #FF6B6B; brighter: #E92525;
  Secondary Color (Light Pastel Blue): #4EBABA; darker: #168C8C;
Terceary Color (Light Pastel Green): C5F466;
 */

 * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Body styles */
body {
 font-family: 'Abel', sans-serif;
 font-weight: 400;
 font-size: 16px;
 /* Sets the font size to 16px */
 line-height: 1.6;
 /* Sets the line-height to 1.6 */
 text-align: center;
}

main {
 padding: 40px;
 -webkit-box-align: center;
     -ms-flex-align: center;
         align-items: center;
}
/* Header styles */
h1 {
 font-size: 30px;
 font-weight: 700;
 color: #FF6B6B;
}

h2 {
 font-size: 24px;
 font-weight: 700;
 color: #FF6B6B;
}

h3 {
 font-size: 18px;
 font-weight: 700;
 color: #4EBABA;
}

/* Anchor tags */
a {
 color: #4EBABA;
 text-decoration: none;
}

p {
 text-align: justify;
}

a:hover,
a:focus {
 text-decoration: none;
}
a:active {
 color: #FF6B6B;
 text-decoration: underline;
}

/* Lists */
ul {
 list-style-type: none;
}

/* Tables */
table {
 display: inline-block;
 margin: 0 auto;
 text-align: left;
}

/* Buttons */
.button {
 /* overwrites browser defaults and resets the border */
 border: none;
 display: inline-block;
 /* takes the font from the outer container */
 font-family: inherit;
 /* styles the background color, font color, and text decoration (underline, etc.) of the button */
 background-color: #FF6B6B;
 color: white;
 text-decoration: none;
 /*adds spacing to the button (this will be discussed more in-depth later) */
 padding: 10px;
 margin: 10px;
 border-radius: 3px;
 /* gives the button a bottom border with a width of 2px, a type of solid, and a color in RGBA format */
 border-bottom: 2px solid rgba(0, 0, 0, 0.3);
 -webkit-transition-duration: 0.9s;
      -o-transition-duration: 0.9s;
         transition-duration: 0.9s;
 -webkit-transition-property: opacity;
 -o-transition-property: opacity;
 transition-property: opacity;
 list-style-type: none;
 max-width: 50%;
}
.cv-button {
 /* overwrites browser defaults and resets the border */
 border: none;
 display: inline-block;
 /* takes the font from the outer container */
 font-family: inherit;
 /* styles the background color, font color, and text decoration (underline, etc.) of the button */
 background-color: #FF6B6B;
 color: white;
 text-decoration: none;
 /*adds spacing to the button (this will be discussed more in-depth later) */
 padding: 10px;
 margin: 10px;
 border-radius: 3px;
 /* gives the button a bottom border with a width of 2px, a type of solid, and a color in RGBA format */
 border-bottom: 2px solid rgba(0, 0, 0, 0.3);
 -webkit-transition-duration: 0.9s;
      -o-transition-duration: 0.9s;
         transition-duration: 0.9s;
 -webkit-transition-property: opacity;
 -o-transition-property: opacity;
 transition-property: opacity;
 list-style-type: none;
 max-width: 50%;
}
button {
 /* overwrites browser defaults and resets the border */
 border: none;
 display: inline-block;
 /* takes the font from the outer container */
 font-family: inherit;
 /* styles the background color, font color, and text decoration (underline, etc.) of the button */
 background-color: #FF6B6B;
 color: white;
 text-decoration: none;
 /*adds spacing to the button (this will be discussed more in-depth later) */
 padding: 10px;
 margin: 10px;
 border-radius: 3px;
 /* gives the button a bottom border with a width of 2px, a type of solid, and a color in RGBA format */
 border-bottom: 2px solid rgba(0, 0, 0, 0.3);
 -webkit-transition-duration: 0.9s;
      -o-transition-duration: 0.9s;
         transition-duration: 0.9s;
 -webkit-transition-property: opacity;
 -o-transition-property: opacity;
 transition-property: opacity;
 list-style-type: none;
 max-width: 50%;
}

button:hover,
button:focus,
 .button:hover,
 .button:focus,
 .cv-button:hover,
 .cv-button:focus {
   cursor: pointer;
   opacity: 0.8;
 }

.button__secondary {
 background-color: #C5F466;
 color: white;
}

/* Page header index.html*/
.page-header {
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 width: 100%;
 padding: 20px;
 -webkit-box-align: right;
     -ms-flex-align: right;
         align-items: right;
}
.page-header__item {
 max-width: 230px;
 -webkit-box-align: center;
     -ms-flex-align: center;
         align-items: center;
}

.page-header__item:last-child {
 -webkit-box-flex: 1;
     -ms-flex-positive: 1;
         flex-grow: 1;
 text-align: center;
}

/* Profile styles index.html */
.profile__portrait {
 float: left;
 width: 250px;
 margin-right: 40px;
 border-radius: 50%;
}

.profile {
 max-width: 700px;
 margin: 0 auto;
}

/* Page footer */
.page-footer {
 clear: both;
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 -webkit-box-orient: vertical;
 -webkit-box-direction: normal;
     -ms-flex-direction: column;
         flex-direction: column;
 text-align: center;
}

/* Navigation list */
.navigation-list {
 list-style-type: none;
 margin: 0;
 padding: 0;
}
.navigation-list__item {
 list-style-type: none;
}
.navigation-list li {
 display: inline-block;
 margin-left: 15px;
}
.navigation-list__item--active {
 text-decoration: none;
}

/* Grid styles*/
.grid {
 display: -ms-grid;
 display: grid;
 -ms-grid-columns: 1fr 10px 1fr 10px 1fr;
 grid-template-columns: 1fr 1fr 1fr;
 grid-gap: 10px;
}
.grid__item {
 background-color: lightgray;
 padding: 10px;
}

/* about.html styles */
.row{
 margin: 10px;
 display: inline-block;
 -webkit-box-orient: horizontal;
 -webkit-box-direction: normal;
     -ms-flex-direction: row;
         flex-direction: row;
 -webkit-box-pack: justify;
     -ms-flex-pack: justify;
         justify-content: justify;
 -ms-flex-line-pack: right;
     align-content: right;
 padding-left: 4rem;
 padding-right: 4rem;
}
.column {
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 -webkit-box-orient: vertical;
 -webkit-box-direction: normal;
     -ms-flex-direction: column;
         flex-direction: column;
 -webkit-box-pack: center;
     -ms-flex-pack: center;
         justify-content: center;
 -ms-flex-line-pack: justify;
     align-content: space-between;
 
 
 margin: 0;
}

.row:after {
 content: "";
 display: table;
 clear: both;
}

.berlin-illustration {
 margin: 10px;
 max-width: 90%;
}

/* contact form */
input,
textarea {
 width: 200px; /* Full width */
 padding: 10px; /* Some padding */
 border: 1px solid #ccc; /* Gray border */
 border-radius: 4px; /* Rounded borders */
 -webkit-box-sizing: border-box;
         box-sizing: border-box; /* Make sure that padding and width stays in place */
 margin: auto;
 resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
 display: block;
 -webkit-box-pack: center;
     -ms-flex-pack: center;
         justify-content: center;
}

.contactme {
 width: 300px;
 border-radius: 5px;
 background-color: #f2f2f2;
 padding: 20px;
 -webkit-box-pack: center;
     -ms-flex-pack: center;
         justify-content: center;
 text-align: center;
 margin: auto;
}

/* Animation Keyframes */

@-webkit-keyframes color-change {
   0% {
     fill: #edc655;
   }
   50% {
     fill: #fcffad;
   }
   100% {
     fill: #f76414;
   }
 }

@keyframes color-change {
   0% {
     fill: #edc655;
   }
   50% {
     fill: #fcffad;
   }
   100% {
     fill: #f76414;
   }
 }

.sun {
 -webkit-animation: 4s color-change infinite alternate linear;
         animation: 4s color-change infinite alternate linear;
}

@-webkit-keyframes cloud-move {
 from {
   -webkit-transform: translate(0, 50px);
           transform: translate(0, 50px);
 }
 to {
   -webkit-transform: translate(200px, 50px);
           transform: translate(200px, 50px);
 }
}

@keyframes cloud-move {
 from {
   -webkit-transform: translate(0, 50px);
           transform: translate(0, 50px);
 }
 to {
   -webkit-transform: translate(200px, 50px);
           transform: translate(200px, 50px);
 }
}
.cloud-front {
 -webkit-animation: 30s cloud-move infinite alternate linear;
         animation: 30s cloud-move infinite alternate linear;
}
@-webkit-keyframes cloud-move-reverse {
 from {
   -webkit-transform: translate(446px, 48px);
           transform: translate(446px, 48px);
 }
 to {
   -webkit-transform: translate(100px, 48px);
           transform: translate(100px, 48px);
 }
}
@keyframes cloud-move-reverse {
 from {
   -webkit-transform: translate(446px, 48px);
           transform: translate(446px, 48px);
 }
 to {
   -webkit-transform: translate(100px, 48px);
           transform: translate(100px, 48px);
 }
}
.cloud-back {
 -webkit-animation: 34s cloud-move-reverse infinite alternate linear;
         animation: 34s cloud-move-reverse infinite alternate linear;
}

/* Media Queries */
/* This media query will take effect if it less than or equal of width:500px  */
@media all and (max-width: 500px) {
 .grid {
   -ms-grid-columns: 1fr;
   grid-template-columns: 1fr;
 }
 .column {
   width: 100%;
 }
}

/* This media query will take effect between the width:500px and 750px  */
@media all and (min-width: 500px) and (max-width: 750px) {
 .grid {
   -ms-grid-columns: 1fr 10px 1fr;
   grid-template-columns: 1fr 1fr;
 }
 .column {
   width: 100%;
 }
}

/* This media query will take effect on the 2 media queries above, that is not covered by their query, this query will fixed all the issues to make fully responsive */
@media all and (min-width: 750px) {
 .grid {
   grid-gap: 10px;
 }
 .grid__item:last-child {
   grid-column: auto / auto;
   grid-row: auto / auto;
   }
 .column {
   width: 100%;
   }
 }